@import 'partials/setup';
@import 'partials/header';
@import 'partials/about';
@import 'partials/quiz';
@import 'partials/study-guide';
@import 'partials/footer';


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	max-width: 0 auto;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	text-align: center;
    position: relative;
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-size: 71px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #008dd5;
    margin: 0;
}


//media queries begin

@media (max-width: 700px) {
    .quizForm {
        width: 90%;
    }
    input.answer {
        width: 30px;
        height: 30px;
    }
}
