footer {
	background-color: #c3e7fa;
    padding: 40px;
    margin-top: 150px;
    display: flex;
    div {
    	width: 50%;
    }
    p {
    	padding: 20px;
    	flex-wrap: wrap;
    	text-align: center;
    }
}

.thankyou {
	margin-top: 20px;
}

.contact {
	flex-direction: column;
	margin-top: 20px;
	.contactMe {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.socialIcons {
	display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 40%;
    right: -27%;
    transform: translateY(-50%);
    .footerIcon {
    	margin-right: 20px;
    	margin-bottom: 90px;
    	font-size: 20px;
    	color: #008dd5;
    }
}

.fa {
	transition: color 0.9s ease;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-linkedin:hover {
	color: #007bb6;
}

.fa-medium:hover {
	color: #14c767;
}

.fa-github:hover {
	color: #222222;
}

