.quizForm {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	border: 50px solid #008dd5;
	margin-top: 100px;
}

h4 {
	color: #008dd5;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}


input[type="submit"] {
    border-radius: 4px;
    background-color: #c3e7fa;
    border: none;
    padding: 15px;
    width: 60%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    align-self: center;
    margin-top: 70px;
    font-size: 20px;
    text-transform: uppercase;
}


.answers {
	padding: 10px;
	text-align: center;
	display: flex;
    flex-direction: column;
}

#resultsContainer {
	margin-top: 100px;
}
.myResults {
	margin: 0 auto;
	list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 2;
    text-transform: capitalize;
    text-align: left;
    padding: 30px;
    width: 80%;
    justify-content: flex-end;
}