article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  margin-bottom: 100px; }

.flexVisual {
  width: 100px;
  height: 100px;
  background-color: #c3e7fa;
  margin: 20px; }

.row {
  display: flex;
  justify-content: center; }

.flexGrow {
  flex-grow: 1; }

.rowSpaceAround {
  justify-content: space-around; }

.flexRow2 {
  width: 100px;
  height: 100px; }

.flexVisual {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  font-size: 25px;
  font-weight: 800;
  color: #008dd5;
  justify-content: space-around; }

.order {
  order: 2; }

.rowSpaceBetween {
  justify-content: space-between; }

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c3e7fa; }
  #about h2 {
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #c3e7fa;
    padding: 20px 20px 0px 20px;
    text-align: center; }
  #about h3 {
    padding: 0px 20px 20px 20px;
    font-weight: 400;
    text-align: center; }

.quizForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 50px solid #008dd5;
  margin-top: 100px; }

h4 {
  color: #008dd5;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px; }

input[type="submit"] {
  border-radius: 4px;
  background-color: #c3e7fa;
  border: none;
  padding: 15px;
  width: 60%;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  align-self: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase; }

.answers {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; }

#resultsContainer {
  margin-top: 100px; }

.myResults {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  line-height: 2;
  text-align: left;
  padding: 30px;
  width: 80%;
  justify-content: flex-end; }

li {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px; }

.information {
  width: 80%;
  border: 30px solid #008dd5;
  padding: 40px;
  margin: 0 auto;
  margin-top: 100px; }

.moreInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 3; }
  .moreInfo p {
    margin: 0; }

.or {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  color: #008dd5; }

button {
  border-radius: 4px;
  background-color: #c3e7fa;
  border: none;
  padding: 15px;
  width: 60%;
  display: inline-block;
  margin-top: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase; }

footer {
  background-color: #c3e7fa;
  padding: 40px;
  margin-top: 150px;
  display: flex; }
  footer div {
    width: 50%; }
  footer p {
    padding: 20px;
    flex-wrap: wrap;
    text-align: center; }

.thankyou {
  margin-top: 20px; }

.contact {
  flex-direction: column;
  margin-top: 20px; }
  .contact .contactMe {
    margin-bottom: 0;
    padding-bottom: 0; }

.socialIcons {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 40%;
  right: -27%;
  transform: translateY(-50%); }
  .socialIcons .footerIcon {
    margin-right: 20px;
    margin-bottom: 90px;
    font-size: 20px;
    color: #008dd5; }

.fa {
  transition: color 0.9s ease; }

.fa-twitter:hover {
  color: #1da1f2; }

.fa-linkedin:hover {
  color: #007bb6; }

.fa-medium:hover {
  color: #14c767; }

.fa-github:hover {
  color: #222222; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  max-width: 0 auto; }

.wrapper {
  max-width: 900px;
  margin: 0 auto; }

h1 {
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  font-weight: 800;
  font-size: 71px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #008dd5;
  margin: 0; }

@media (max-width: 700px) {
  .quizForm {
    width: 90%;
    border: 20px solid #008dd5; }
  input.answer {
    width: 30px;
    height: 30px; }
  .information {
    border: 10px solid #008dd5; } }

@media (max-width: 480px) {
  button, input[type="submit"] {
    width: 100%; }
  footer {
    flex-direction: column;
    align-items: center; }
  .thankyou {
    margin-bottom: 20px; }
    .thankyou p {
      padding: 0; }
  .socialIcons .footerIcon {
    font-size: 30px; } }
